* {
  box-sizing: border-box;
}

.yarndings-12 charted-regular {
  font-family: 'Yarndings 12 Charted', system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

section {
  padding: 1.5rem 0;
  background-color: #0ff;
}

h2 {
  margin-bottom: 3.5rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
  font-family: 'Yarndings 12 Charted', system-ui;
}

form {
  margin: 0 auto 2rem;
  text-align: center;
}

input,
button {
  height: 3rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
}

input {
  width: 400px;
  padding: 0.5rem;
  border: 1px solid;
  font-weight: 300;
  background-color: #917f89;
}

.button {
  color: white;
}

button {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: 0.25rem;
  border: none;
  font-weight: 500;
  background-color: #af0;
}
